@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background: #111827;
    --background-menu: #1F2937;
    --text-white: #F3F4F6;
    --text-light: #9CA3AF;
    --button: #2563EB;
    --input: #374151;
    --border-input: #4B5563;
    --hover-button: rgb(45, 55, 72);
    --content-info: #2D3748;
}

.hidden{
    display: none;
}


html{
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: var(--background);

    position: relative;
}

header{
    display: flex;
    justify-content: space-between;

    background-color: var(--background-menu);

    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;

    padding:20px;

    box-shadow: 0px 0px 6px #00000054;
}

header input{
    color: var(--text-white);
    font-size: 0.6em;

    background-color: var(--input);

    padding: 6px 12px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

header input:hover{
    background-color: var(--hover-button);
}


main{
    width: 80vw;
    max-width: 500px;

    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 25px 0px;
}


#contentHeader{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#contentHeader h1{
    width: 100%;

    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3em;

    text-align: left;
}

#btnCriarExercicio{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    background-color: var(--background-menu);

    padding: 15px;

    border: none;
    border-radius: 8px;

    margin-top: 16px;

    cursor: pointer;
}

#btnCriarExercicio:hover{
    background-color: var(--hover-button);;
}

#btnCriarExercicio span:nth-child(1){
    font-size: 1.4em;
}

#semExercicio{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-menu);

    padding: 24px;

    border-radius: 8px;

    color: var(--text-light);
    font-size: 1em;

    margin-top: 16px;
}

#content{
    width: 100%;
}

.exercicio{
    position: relative;

    width: 100%;

    background-color: var(--background-menu);

    border-radius: 8px;

    padding: 16px;

    margin-top: 16px;
}

.contentExercicio{
    display: flex;
    flex-direction: column;
    gap: 10px;

    pointer-events: none;
}

.editExercicio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editExercicioHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editExercicio input[type=text]{
    width: 70%;

    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1em;

    color: var(--text-white);

    padding: 5px;

    outline: none;
}

.editExercicio .btnsEdit{
    display: flex;
    gap: 7px;
}

.editExercicio i{
    color: var(--text-white);
    font-size: 1.4em;

    display: inline-block;

    cursor: pointer;
}

.editExercicio .divInformacao{
    background-color: transparent;

    padding: 0;
}

.editExercicio .divInformacao .infoTitulo{
    color: var(--text-white);
}

.editExercicio input[type=number]{
    width: 100%;

    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1em;

    color: var(--text-white);

    padding: 9px;

    outline: none;
}

.exercicioHeader{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
}

.exercicioHeader h2{
    color: var(--text-white);
    font-size: 1.3em;
}

.btnsExercicio{
    display: flex;
    gap: 8px;
}

.exercicioHeader i{
    color: var(--text-light);
    font-size: 1.4em;

    cursor: pointer;

    pointer-events: all;
}


.exercicoInfos{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.divInformacao{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

    background-color: var(--content-info);

    padding: 8px;

    border-radius: 6px;
}

.divInformacao span:nth-child(1){
    color: var(--text-light);
    font-size: 0.8em;
}

.divInformacao span:nth-child(2){
    color: var(--text-white);
    font-size: 1em;
    font-weight: bold;
}


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.459);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    z-index: 1;
}

.hidden{
    display: none;
}

.modalContent{
    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;

    padding: 16px;

    border-radius: 8px;

    background-color: var(--background-menu);

    z-index: 2;
}

.tituloModal{
    color: var(--text-white);
    font-size: 1.2em;

    margin-bottom: 10px;
}

#modalNovoExercicio input[type=text]{
    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1.1em;

    color: var(--text-white);

    padding: 9px;

    outline: none;
}

#informacoesNovoExercicio{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 8px;

    margin-top: 15px;
}

.divInformacaoNovoExercicio{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.divInformacaoNovoExercicio span{
    color: var(--text-white);
}

.divInformacaoNovoExercicio input[type=number]{
    width: 100%;

    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1.1em;

    color: var(--text-white);

    padding: 9px;

    outline: none;
}

#btnsModal{
    display: flex;
    align-items: center;
    justify-content: end;

    gap: 10px;
    
    margin-top: 15px;
}

.btnModal{
    padding: 11px 16px;

    color: var(--text-white);
    font-size: 0.9em;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.btnModalCancel{
    background-color: var(--input);
}

.btnModalConfirm{
    background-color: var(--button);
}

#modalConfirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

#modalConfirm span{
    display: flex;
    gap: 10px;
}