@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background: #111827;
    --background-menu: #1F2937;
    --text-white: #F3F4F6;
    --text-light: #9CA3AF;
    --button: #2563EB;
    --input: #374151;
    --border-input: #4B5563;
}

body{
    background-color: var(--background);

    position: relative;
}

header{
    background-color: var(--background-menu);

    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;

    padding:20px;

    box-shadow: 0px 0px 6px #00000054;
}

main{
    width: 80vw;
    max-width: 600px;

    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 16px 0px;
}

#contentHeader{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contentHeader h1{
    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

#contentHeader input{
    background-color: var(--button);
    
    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;

    padding: 11px 16px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.content{
    width: 100%;
}

.treino{
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--background-menu);

    padding: 16px;
    margin-top: 16px;

    border-radius: 6px;

    cursor: pointer;
}

.treinoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.treinoHeader i{
    color: var(--text-white);
    font-size: 1.4em;

    display: inline-block;

    cursor: pointer;
}

.treinoHeader i:hover{
    color: var(--border-input);
}

.treino h2{
    color: var(--text-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
}

.editTreino{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editTreino input[type=text]{
    width: 70%;

    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1em;

    color: var(--text-white);

    padding: 5px;

    outline: none;
}

.editTreino .btnsEdit{
    display: flex;
    gap: 7px;
}

.editTreino i{
    color: var(--text-white);
    font-size: 1.4em;

    display: inline-block;

    cursor: pointer;
}

.editTreino i:hover{
    color: var(--border-input);
}

.btnEditConfirm{
    font-weight: bold;
}

.quantidade{
    color: var(--text-light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

    margin-top: 10px;
}

#semTreino{
    width: 100%;

    background-color: var(--background-menu);

    padding: 24px;
    margin-top: 16px;

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 8px;
}

#semTreino h2{
    color: var(--text-light);
    font-size: 1.3em;
    font-weight: bold;

    text-align: center;
}

#semTreino i{
    font-size: 2.5em;
    color: var(--text-light);
}

#semTreino span{
    color: var(--text-light);
    font-size: 1em;

    text-align: center;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.459);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    z-index: 1;
}

.hidden{
    display: none;
}

.modalContent{
    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;

    padding: 16px;

    border-radius: 6px;

    background-color: var(--background-menu);

    z-index: 2;
}

.tituloModal{
    color: var(--text-white);
    font-size: 1.2em;

    margin-bottom: 10px;
}

#modalNovoTreino input[type=text]{
    background-color: var(--input);

    border: 1px solid var(--border-input);
    border-radius: 6px;

    font-size: 1.1em;

    color: var(--text-white);

    padding: 9px;

    outline: none;
}

#modalNovoTreino span{
    display: flex;
    align-items: center;
    justify-content: end;

    gap: 10px;
    
    margin-top: 10px;
}

.btnModal{
    padding: 11px 16px;

    color: var(--text-white);
    font-size: 0.9em;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.btnModalCancel{
    background-color: var(--input);
}

.btnModalConfirm{
    background-color: var(--button);
}

#modalConfirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

#modalConfirm span{
    display: flex;
    gap: 10px;
}